body {
  --nav-width: 75px;
  margin: 0 0 0 var(--nav-width);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

/* background: linear-gradient(to right, #ff8a00, #e52e71); */
::selection {
  background-color: rgba(0, 148, 121, 0.27);
  color: #000;
}

.nav {

  position: fixed;
  left: 0;
  top: 0;
  width: var(--nav-width);
  height: 100vh;
  /* background: #222222;
   */
  background-color: rgba(0, 148, 121, 0.27);


}

.nav__link {
  display: block;

  padding: 12px 18px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  border-radius: 12px;

}

.nav__link:hover {
  background-color: rgba(0, 148, 121, 0.345);
  /* background: rgba(255, 255, 255, 0.05); */
}

.nav__link:active {
  background: rgba(255, 255, 255, 0.05);
}

.muted-text {
  color: #565757;
}

#app {
  max-width: 50%;
  margin: 3em;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: #009579;
}

.text-ttl {
  font-size: 16px;
}

.text-subttl {
  font-size: 14px;
}

.text,
p {
  font-size: 12px;
}

/* alert text */
.alert-text {
  position: fixed;
  right: 0;
  bottom: 0;
  color: #000;
  width: auto;
  padding: 10px;
  font-size: 12px;
  /* background-color: #009579;*/
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: 1px solid;
}

.long-card {
  margin: 10px 0;
  max-width: 400px;
  padding: 18px;
  border-radius: 10px;
  background-color: rgba(0, 148, 121, 0.27);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}


.long-card .left-col h3 {
  padding: 10px 0 5px 0;

}

.long-card .left-col p {
  font-size: 12px;
  padding-bottom: 8px;
}


.long-card .left-col button {
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 6px 20px;
  background-color: #1ed760;
  cursor: pointer;
  font-size: 12px;
}

.long-card .right-col img {
  border-radius: 12px;

}

@media screen and (min-width: 320px) and (max-width: 786px) {
  body {
    margin: 1em;
    font-size: 1rem;
  }

  #app {
    max-width: 100%;

  }

  .nav {
    top: auto;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 0;
    width: 100%;
    border-radius: 15px 12px 0 0;

  }

  .nav__link {
    font-size: 12px;
    text-align: center;
    display: block;
  }

  #app {
    margin: 0;
    width: 100%;
  }

  .alert-text {
    position: fixed;
    right: 10px;
    top: 5px;
    font-size: 0.6rem;
    bottom: auto;

  }
}